{% extends 'base.html' %}

{% block title %}
    Confirm
{% endblock title %}

{% block content %}
<h1>Delete the task titled:</h1>
<form method="POST">
    {% csrf_token %}
    <h2>'{{ issue.title }}' <span id="question-delete">?</span></h2>
    <h4>Assigned to {{ issue.assignee }}</h4>
    <div class="author-options" id="confirm-del">
        <a id="log-in-icon" 
        type="submit"
        href="{% url 'delete' %}" 
        class="card-link btn btn-danger btn-lg active">
            Confirm 
            <i class="fa-solid fa-dumpster-fire"></i>
        </a>
        <input type="submit" value="Confirm" class="btn btn-danger btn-md" id="update-post-btn">
    </div>
</form>
{% endblock content %}